@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <link href="~/Fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />

    @Styles.Render("~/Css")
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/MyScripts")
    @Styles.Render("~/Content")
</head>
<body>

    @RenderBody()

</body>
</html>