
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!Doctype html>
<html>


<head>
    <title>Dynamic DNA Online Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div id="landing">
        <header class="cd-auto-hide-header">
            @*<div class="logo"><a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a></div>*@
            <nav class="cd-primary-nav">
                <a href="#cd-navigation" class="nav-trigger">
                    <span>
                        <em aria-hidden="true"></em>
                        Menu
                    </span>
                </a>
                <ul id="cd-navigation">
                    <li><a href="#landing" class="scroll">Home</a></li>
                    <li><a href="#ann" class="scroll">Announcements</a></li>
                    <li><a href="#news" class="scroll">Our News</a></li>
                    <li><a href="#ins" class="scroll">Our Insights</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Information<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Syllabus", "Syllabus")">Syllabus</a></li>
                            <li><a href="@Url.Action("Syllabus", "Syllabus")">Check Status</a></li>
                            <li><a href="@Url.Action("Syllabus", "Syllabus")">Subscribe</a></li>
                        </ul>
                    </li>
                    <li><a href="#part" class="scroll">Partnerships</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("EmailUs", "Contact")">Email Us</a></li>
                            <li><a href="http://www.dvt.co.za" target="_blank">Website</a></li>
                            <li><a href="#social" class="scroll"><abbr class="fa fa-thumbs-up">Like Us</abbr></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <section class="intro">
        <div class="inner">
            <div class="content">

                <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0s">
                    <img src="~/Images/DynamicDNALogo.png" />

                </section>

                <section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay=".5s">
                    <a class="btn" href="@Url.Action("Authenticate","Authentication")">Apply Now</a>
                </section>
            </div>

        </div>


    </section>

    <div class="announce-news">

        <section class="announcements" id="ann">
            <h2>Announcements</h2>
            <p class="parag">
                Learnership Programme. Are you unemployed , looking for a learnership in information Technology and programming , want to become employable and apply the skills learnt? want to get a travel allowance while you study? , if the answer is yes then email us your cv, id copy and matric certificate to be considered. email to info@dynamicdna.co.za the subject line should be Learnership. Get this once in a lifetime opportunity. The purpose of the programme is to equip previously disadvantaged youths with nationally recognised qualifications, based on unit standards, while also providing them with workplace experience in the Systems Development landscape.Successful candidates who show dedication to the programme will be considered for a following Higher NQF level qualification, it is of utmost importance that learners give 100% dedication to this programme.
            </p>

            <div class="container">
                <div class="row">

                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </section>
        <section class="news" id="news">
            <h2>DDNA News</h2>
            <h3> Dynamic DNA to bridge ICT skills gap</h3>

            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <p class="arrange">
                            Technology Group Dynamic Technologies has established Dynamic DNA as part of its BEE enterprise development programme.
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p class="arrange">
                            Dynamic DNA is a 51% black female owned ICT learnership academy which provides learners with a combination of the theor-
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p class="arrange">
                            etical skills and hands-on work experience they need to thrive in the technology sector. The company says the initiative-
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p class="arrange">
                            ...helps organisations develop dynamic young people who will become the technology leaders of tomorrow. SA has had peren...

                        </p>
                        <text><a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=162444:Dynamic-DNA-to-bridge-ICT-skills-gap&catid=86" target="_blank"></a>Read more</text>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div class="section-insights" id="ins">
        <section class="insights">
            <h2>Our Insights</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                        <img src="~/Images/Pp.jpg" />
                        <h3>Induction Day</h3>


                    </div>

                    <div class="col-md-3">
                        <img src="~/Images/Premise.jpg" />
                        <h3>Our Premises</h3>


                    </div>

                    <div class="col-md-3">
                        <img src="~/Images/DVT_learnership_trainees.jpg" />
                        <h3>Graduated Trainees</h3>


                    </div>

                    <div class="col-md-3">
                        <img src="~/Images/prudence-mabitsela.jpg" />
                        <h3>Prudence Mabitsela</h3>

                    </div>
                </div>


            </div>

        </section>
    </div>

    <div class="section-partnership">
        <a id="part"></a>
        <section class="partners">
            <h2>Partnerships</h2>
            <p class="parag">
                Learnership Programme. Are you unemployed , looking for a learnership in information Technology and programming , want to become employable and apply the skills learnt? want to get a travel allowance while you study? , if the answer is yes then email us your cv, id copy and matric certificate to be considered. email to info@dynamicdna.co.za the subject line should be Learnership. Get this once in a lifetime opportunity. The purpose of the programme is to equip previously disadvantaged youths with nationally recognised qualifications, based on unit standards, while also providing them with workplace experience in the Systems Development landscape.Successful candidates who show dedication to the programme will be considered for a following Higher NQF level qualification, it is of utmost importance that learners give 100% dedication to this programme.
            </p>
            <p class="parag">
                Learnership Programme. Are you unemployed , looking for a learnership in information Technology and programming , want to become employable and apply the skills learnt? want to get a travel allowance while you study? , if the answer is yes then email us your cv, id copy and matric certificate to be considered. email to info@dynamicdna.co.za the subject line should be Learnership. Get this once in a lifetime opportunity. The purpose of the programme is to equip previously disadvantaged youths with nationally recognised qualifications, based on unit standards, while also providing them with workplace experience in the Systems Development landscape.Successful candidates who show dedication to the programme will be considered for a following Higher NQF level qualification, it is of utmost importance that learners give 100% dedication to this programme.
            </p>
            <p class="parag">
                Learnership Programme. Are you unemployed , looking for a learnership in information Technology and programming , want to become employable and apply the skills learnt? want to get a travel allowance while you study? , if the answer is yes then email us your cv, id copy and matric certificate to be considered. email to info@dynamicdna.co.za the subject line should be Learnership. Get this once in a lifetime opportunity. The purpose of the programme is to equip previously disadvantaged youths with nationally recognised qualifications, based on unit standards, while also providing them with workplace experience in the Systems Development landscape.Successful candidates who show dedication to the programme will be considered for a following Higher NQF level qualification, it is of utmost importance that learners give 100% dedication to this programme.
            </p>

        </section>
    </div>


    <section class="social" id="social">
        <div class="text-center">
            <h2>Connect</h2>

            <div class="icons">

                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>





        </div>


    </section>
    <section class="section-footer">
        <footer>
            <p>
                &copy; 2010
                <script>new Date().getFullYear() > 2010 && document.write("- " + new Date().getFullYear());</script> Dynamic DNA PTY LTD
            </p>

            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();
                        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 2000);
                    });
                });
            </script>
        </footer>
    </section>


</body>

</html>
